@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #000000;
    --global-bg-2: #00d7ff;
    --global-bg-3: #020100;
    --global-bg-4: #1d1d1f;
    --global-bg-5: #1e1c1a;
    --global-bg-6: #43414133;
    --global-bg-7: #d9d9d9;
    --global-bg-8: #e9866e;
    --global-text-1: #000000;
    --global-text-2: #1e50553a;
    --global-text-3: #929292;
    --global-text-4: #ffffff;

    /* Header Colors */
    --header-bg-1: #080808e5;

    /* Footer Colors */
    --footer-bg-1: #1e1e1e;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }
  .bg-global-8 {
    background-color: var(--global-bg-8);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }

  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }

  /* Footer */
  .bg-footer-1 {
    background-color: var(--footer-bg-1);
  }
}